 html, body{
    margin: 0;
    padding: 0;
 }
 body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
    background: aqua center;
    background-size: cover;
 }
 h2 {
    font-size: 2.6rem;
 }
 p{
    font-size: 1.4rem;
 }

 .wrap{
    color: rgb(6, 8, 10);
    text-align: center;
    padding: 2rem 3rem;
    border: 3px solid #fff;
    box-shadow: 0 0 25px #222;
    

 }
 nav{
   list-style: none;
   padding: 0;
   margin: 0;
   background-color: white;
   
   
 }
 
   

 